{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<body>

    <div class="container bg-light shadow-md p-5 form-layout">
        
        <h3>Update Record </h3>

        <h6>Update your record down below. </h6>

        <hr>

        <br> 

        <form  method="POST" autocomplete="off">

            {% csrf_token %} <!--   'Cross-Site Request Forgery' tokens help protect against CSRF attacks by making it difficult for an attacker to construct a valid request on behalf of the victim. -->
       
            {{form|crispy}}

            <br>

            <button type="submit" class="btn btn-primary  p-2"> Update record &nbsp; <i class="fa fa-check" aria-hidden="true"></i> </button>
        
            <a class="btn btn-info p-2"  href="{% url 'my-dashboard'%}" > go back &nbsp;<i class="fa fa-arrow-left" aria-hidden="true"></i></a>

        </form>

        <br>

</body>    
{% endblock %}

